{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row align-items-center my-large">
  <div class="col-md-6 order-md-2 offset-lg-1">
    <lottie-player
      src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json"
      background="transparent"
      speed="1"
      style="width: 600px; height: 500px"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="col-md-6 col-lg-5 order-md-1">
    <h1 class="display-2 mb-4">Our Vision</h1>
    <p class="lead mb-4 text-muted">
      We believe “Future of world starts in a Classroom” Our Vision is to invent
      & develop secure and future ready Ed-tech solutions featuring simple
      functionality.
    </p>
  </div>
</div>
{% endblock%}
