{% extends 'base.html' %} {% load static %} {% block content %}
<div class="analytics-sparkle-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="analytics-sparkle-line reso-mg-b-30">
          <div class="analytics-content">
            <h5>Computer Science</h5>
            <h2>
              <span class="counter">2500</span>
              <span class="tuition-fees">Total Number Of Student</span>
            </h2>
            <span class="text-success">.</span>
            <div class="progress m-b-0">
              <div
                class="progress-bar progress-bar-success"
                role="progressbar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 100%"
              >
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="analytics-sparkle-line reso-mg-b-30">
          <div class="analytics-content">
            <h5>Total Number Of Accredited Student</h5>
            <h2>
              <span class="counter">30</span>
              <span class="tuition-fees">Number OF Accredited student</span>
            </h2>
            <span class="text-danger">15%</span>
            <div class="progress m-b-0">
              <div
                class="progress-bar progress-bar-danger"
                role="progressbar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 30%"
              >
                <span class="sr-only">230% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div
          class="
            analytics-sparkle-line
            reso-mg-b-30
            table-mg-t-pro
            dk-res-t-pro-30
          "
        >
          <div class="analytics-content">
            <h5>Total Number Of Unccredited Student</h5>
            <h2>
              <span class="counter">2000</span>
              <span class="tuition-fees">Tuition Fees</span>
            </h2>
            <span class="text-info">92%</span>
            <div class="progress m-b-0">
              <div
                class="progress-bar progress-bar-info"
                role="progressbar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 94%"
              >
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-sales-area mg-tb-30">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-info-inner">
        <div class="profile-img">
          <img src="{{ admindata.faceAdmin.url }}" alt="" />
        </div>
        <div class="profile-details-hr">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <div class="address-hr">
                <p>
                  <b>Name</b><br />
                  {{admindata.names}}
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                <p>
                  <b>Designation</b><br />
                  Head of Dept.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <div class="address-hr">
                <p>
                  <b>Email ID</b><br />
                  Emmanuel@gmail.com
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
              <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                <p>
                  <b>Phone</b><br />
                  09032196744
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="address-hr">
                <p>
                  <b>DEPARTMENT</b><br />
                  DEPARTMENT OF COMPUTER SCIENCE
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="address-hr">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <h3>500</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="address-hr">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <h3>900</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="address-hr">
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <h3>600</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-sales-chart">
              <div class="portlet-title">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="caption pro-sl-hd">
                      <span class="caption-subject"
                        ><b>departmental election</b></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <ul class="list-inline cus-product-sl-rp">
                <li>
                  <h5>
                    <i class="fa fa-circle" style="color: #006df0"></i>CST
                  </h5>
                </li>
                <li>
                  <h5>
                    <i class="fa fa-circle" style="color: #933ec5"></i
                    >Accreditation
                  </h5>
                </li>
                <li>
                  <h5>
                    <i class="fa fa-circle" style="color: #65b12d"></i>Election
                  </h5>
                </li>
              </ul>
              <div style="height: 356px">
                <div style="text-align: center" class="jumbotron">
                  <h1 style="color: green">
                    𝕱𝖆𝖈𝖆𝖎𝖑 𝕬𝖚𝖙𝖍𝖊𝖓𝖙𝖎𝖈𝖆𝖙𝖎𝖔𝖓 𝕾𝖞𝖘𝖙𝖊𝖒 𝕱𝖔𝖗 𝕯𝖊𝖕𝖆𝖗𝖙𝖒𝖊𝖓𝖙𝖆𝖑 𝕰𝖑𝖊𝖈𝖙𝖎𝖔𝖓
                    𝕬𝖈𝖈𝖗𝖊𝖉𝖎𝖙𝖆𝖙𝖎𝖔𝖓
                  </h1>

                  <hr class="my-2" />
                  <h1 class="display-3" style="color: green">
                    𝒦𝒶𝒹𝓊𝓃𝒶 𝒫❀𝓁𝓎𝓉𝑒𝒸𝒽𝓃𝒾𝒸
                  </h1>
                  <div
                    style="
                      text-align: center;
                      background-color: #006df0;
                      color: white;
                    "
                  >
                    <h1 class="display-1">
                      <a
                        s
                        href="{% url 'accredate' %}"
                        style="padding: 20px; margin: 20px"
                        class="pt-3 mt-3"
                      >
                        𝑺𝒕𝒂𝒓𝒕 𝑨𝒄𝒄𝒓𝒆𝒅𝒊𝒕𝒂𝒕𝒊𝒐𝒏
                      </a>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

{% endblock%}
