{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>HRM Login Portal</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/materialdesignicons.min.css' %} "
    />

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'hrms/images/favicon.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
      <div
        class="container-fluid page-body-wrapper full-page-wrapper auth-page"
      >
        <div
          class="
            content-wrapper
            d-flex
            align-items-center
            auth auth-bg-1
            theme-one
          "
        >
          <div class="row w-100 mt-5">
            <div class="col-lg-4 mx-auto">
              <div class="text-center mb-2">
                <img src=" {% static 'logo.jpeg' %} " alt="" />
              </div>
              <p
                style="color: green !important"
                class="display-4 mb-4 text-center text-secondary"
              >
                Administrator Sign in Portal
              </p>
              <div class="auto-form-wrapper mb-5">
                <form action=" {% url 'adminauth' %} " method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="label">Username</label>
                    <div class="input-group">
                      <input type="text" name="username" id="" />
                      <div class="input-group-append"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Password</label>
                    <div class="input-group">
                      <input type="password" name="password" id="" />
                      <div class="input-group-append"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success submit-btn btn-block">
                      Login
                    </button>
                  </div>
                  <div class="text-block text-center my-3"></div>
                </form>
              </div>
              {% include 'partial/_alerts.html' %}
              <p class="footer-text text-center mt-4">
                copyright © {{ 2021}} FINAL YEAR PROJECT KADUAN POLYTECHNIC
                COMPUTER SCIENCE
              </p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </body>
</html>
